
@{
    ViewBag.Title = "Logs";
}

<div class="page-header">
    <h1>Logs</h1>
</div>

<div class="list-group">
    @Html.ActionLink("Job Log", "Job", null, new { @class = "list-group-item" })
    @Html.ActionLink("AutoEnd Log", "AutoEnd", null, new { @class = "list-group-item" })
</div>
